# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/
*.apk
*.aab

# Python
pc-monitor/venv/
pc-monitor/__pycache__/
pc-monitor/build/
pc-monitor/dist/
pc-monitor/*.spec

# OS
.DS_Store
Thumbs.db
